# .gitignore

# Python Virtual Environment
.venv/

# Python cache files
__pycache__/
*.pyc

# VS Code specific
.vscode/

# Secret File
.env

# Ignore training output directories
/results_4bit_combined/
/results_8bit/
/results_16bit/
/results_full_ft/
/results_sapling/
/run_7_drop_7/
/results_full_ft_combined/
/results_lora_8bit_combined/

# Ignore large data
/data/augmented_train.json